.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookSearch {
  width: 300px;
}

.footer {
  padding-top: 50px;
  font-size: 80%;
  color: darkgray;
}

.footer a {
  color: darkgrey;
}

.picks {
  height: 400px;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picks h1 {
  margin-top: 0px;
}

.book-display {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 663px;
}

.footer {
  padding-top: 50px;
  font-size: 80%;
  color: darkgray;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.bookInfo {
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.book {
  flex: 0 0 auto;
}

.book img {
  height: 230px;
  padding: 7px;
}

.book-option {
  display: flex;
  margin: auto;
  width: 275px;
  height: 412px;
  align-items: center;
  padding: 40px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  background-image: url("./components/bookcover.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  color: #f2bf33;
  border-radius: 20px;
}

.blind-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.show-container {
  margin-top: 10px;
  height: 500px;
  width: 90%;
  border: 0.01em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80%;
}

.cover img {
  height: 320px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 300px;
}

.book-info h4,
.medium-info h4 {
  margin: 5px;
  font-weight: 500;
}

.book-info h3,
.medium-info h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 650;
}

.book-info h2,
.medium-info h2 {
  margin: 12px;
}

.book-description {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.read-buttons button {
  margin: 4px;
}

.bookSearch {
  background-image: url("./components/googlebooks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.bookSearch:focus {
  background-image: none;
}

.medium-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medium-info img {
  height: 200px;
  margin-bottom: 20px;
}

.medium-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.link-button {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: .25em .25em;
  border: solid black 1px;
  font-size: 15px;
  border-radius: 2.5px;
}

.inline-button {
  display: inline-block;
}


.ReactModal__Content {
  height: 450px;
  width: 500px;
  top: 207px !important;
  background-color: #fff;
  margin: auto;
}

.navCloseButton {
  background-color: transparent;
  border: none;
  color: darkgrey;
  transform: translate(0px,4px);
}

.display-categories {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.display-categories select, .display-categories form {
  margin-left: 6px;
  margin-right: 6px;
}

.book-div {
  display: flex;
  flex-direction: row;
}

.book-div button {
  margin-left: 10px;
  padding: 0px;
  height: 20px;
  transform: translate(0,15px);
}