@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sideNav {
  border-radius: 15px 15px 15px 15px;
  z-index: 1;
  top: 19px;
  right: 38px;
  overflow-x: hidden;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 52px;
  background-color: black;
  transition: 0.5s;
}

#menuSideNav {
  border-radius: 15px 1px 1px 15px;
  z-index: 1;
  top: 19px;
  right: 20px;
  overflow-x: hidden;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  width: 0;
  height: 52px;
  background-color: black;
  transition: 0.5s;
}

.sideNav a {
  color: gray;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: white;
}

.navCloseButton {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: 30px;
}
.menuIcon {
  position: absolute;
  right: 0;
  margin-right: 25px;
  /* margin: 5% 3%; */
  font-size: 31px;
  color: black;
  top: 1;
  right: 0;
}

.menuIcon,
.navCloseButton:hover {
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
  transform: translate(0,-50px);
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookSearch {
  width: 300px;
}

.footer {
  padding-top: 50px;
  font-size: 80%;
  color: darkgray;
}

.footer a {
  color: darkgrey;
}

.picks {
  height: 400px;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picks h1 {
  margin-top: 0px;
}

.book-display {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 663px;
}

.footer {
  padding-top: 50px;
  font-size: 80%;
  color: darkgray;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.bookInfo {
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.book {
  flex: 0 0 auto;
}

.book img {
  height: 230px;
  padding: 7px;
}

.book-option {
  display: flex;
  margin: auto;
  width: 275px;
  height: 412px;
  align-items: center;
  padding: 40px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  background-color: #157A6E;
  border: 5px solid #77B28c; 
  color: #292F36;
  border-radius: 20px;
}

.blind-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.show-container {
  margin-top: 10px;
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80%;
}

.cover img {
  height: 320px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 300px;
}

.book-info h4,
.medium-info h4 {
  margin: 5px;
  font-weight: 500;
}

.book-info h3,
.medium-info h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 650;
}

.book-info h2,
.medium-info h2 {
  margin: 12px;
}

.book-description {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.read-buttons button {
  margin: 4px;
}

.bookSearch {
  background-image: url("./components/googlebooks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.bookSearch:focus {
  background-image: none;
}

.medium-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medium-info img {
  height: 200px;
  margin-bottom: 20px;
}

.medium-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.link-button {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: .25em .25em;
  border: solid black 1px;
  font-size: 15px;
  border-radius: 2.5px;
}

.inline-button {
  display: inline-block;
}


.ReactModal__Content {
  height: 450px;
  width: 500px;
  top: 207px !important;
  background-color: #fff;
  margin: auto;
}

.navCloseButton {
  background-color: transparent;
  border: none;
  color: darkgrey;
  transform: translate(0px,4px);
}

.display-categories {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.display-categories select, .display-categories form {
  margin-left: 6px;
  margin-right: 6px;
}

.book-div {
  display: flex;
  flex-direction: row;
}

.book-div button {
  margin-left: 10px;
  padding: 0px;
  height: 20px;
  transform: translate(0,15px);
}

.list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
}

.result {
  width: 900px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  padding: 5px;
  margin: 5px;
}

.result-img {
  position: left;
  text-align: left;
  padding-right: 50px;
}

.result-desc {
  position: right;
  align-items: top right;
  padding-top: 70px;
  text-align: left;
}

.results {
  text-align: center;
}

a:Link {
  text-decoration: none;
}

body {
  background-color: #D7D9D3
}

#menuSideNav {
  background-color: transparent;
  border: none;

}

.sideNav {
  background-color: transparent;
  border: none;
  font-family:'Raleway', sans-serif;
  font-weight: 600;
}

.sideNav a {
  color: #157A6E;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-right: 10px;
}

.sideNav a:hover {
  color: #77B28C;
}

.navCloseButton {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: 30px;
  color: #292F36
}

.menuIcon {
  position: absolute;
  right: 0;
  margin-right: 25px;
  /* margin: 5% 3%; */
  font-size: 31px;
  color: #292F36;
  top: 1;
  right: 0;
}

.scroll, .picks, .res-title, .bd-header, .bi-header {
  color: #157A6E;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

}

.scroll {
  margin-top: -10px;
}

.book-img:hover, .result:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-img {
  margin-right: 10px;
  padding-top: 3px;
  background-color: #77B28C;
  border-radius: 10px
}
.bookSearch {
  margin-bottom: 5px;
}
.bookSearch, .bookSearchButton, .bd-dropdown, .bd-button, .read-buttons button, .close {
  margin-right: 10px;
  padding: 5px;
  border: #77B28C solid;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.result, .show-container {
  border: 1px solid #77B28C;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  margin: 5px;
  background-color: #77B28C;
  color: #D7D9D3;
  font-family: 'Raleway', sans-serif;
  font-size: 300;
}

.result-img {
  position: left;
  text-align: left;
  border-radius: 10px;
  padding-right: 0px
}

.result-desc {
  position: right;
  align-items: top right;
  padding-left: 50px;
  padding-top: 70px;
  text-align: left;
}

.search {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.show-container {
  text-align: center;
}

.cover img, .modal-img {
  border-radius: 10px;
}

.about-container, .ReactModal__Content, .ReactModal__Body--open, .medium-info
{
  border: 1px solid #77B28C;
  border-radius: 10px;
  background-color: #77B28C;
  padding: 10px;
  color: #D7D9D3;
  font-family: 'Raleway', sans-serif;
  font-size: 300;
  text-align: center;
  list-style-position: inside;
}

.about-img {
  width: 600px;
  border-radius: 10px;
}

.about-title, .about-container h2 {
  text-decoration: underline;
  color: #292F36;
  margin-top: 50px;
}

.cover img{
  border-radius: 10px;
}
